.form {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid var(--black7);
  padding: var(--space-s) var(--space-xs);
  gap: var(--space-s);
  border-radius: var(--radius-xs);
}

.form label {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
  font-weight: bold;
  font-size: var(--step-0);
}

.form input,
.form textarea {
  padding: var(--space-3xs);
  font-size: 16px;
  border: 1px solid var(--black7);
}

.form button {
  padding: var(--space-2xs);
  font-size: var(--step-0);
  background-color: var(--blue5);
  border-radius: var(--radius-s);
  color: white;
  border: none;
}
