.card {
  background: #4bb9d1;
  background: linear-gradient(
    134deg,
    rgba(75, 185, 209, 1) 0%,
    rgba(143, 233, 247, 1) 22%,
    rgba(237, 250, 250, 1) 100%
  );
  padding: var(--space-2xs);
  text-align: center;
  border-radius: var(--radius-s);
  overflow: hidden;
}

.icon {
  margin-bottom: var(--space-2xs);
  width: fit-content;
  margin: 0 auto;
  border-radius: var(--radius-full);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h3 {
  font-size: var(--step-1);
  margin-bottom: var(--space-3xs);
}
.content p {
  color: var(--black4);
  width: 70%;
  margin: 0 auto;
}
