.statCtnr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-s);
  margin-bottom: var(--space-s);
}

.imgCtnr {
  display: flex;
  justify-content: center;
}
.imgCtnr img {
  width: 90%;
  border-radius: var(--radius-m);
}
