.card {
  padding-top: var(--space-3xs);
  border-radius: var(--radius-s) var(--radius-s) var(--radius-l) var(--radius-l);
  position: relative;
}

.cardContent {
  background-color: white;
  padding: var(--space-m) var(--space-s);
  border-radius: var(--radius-s);
  z-index: 1;
}

.icon {
  margin-bottom: var(--space-xs);
}

.desc h3 {
  font-size: var(--step-1);
}
.desc p {
  margin: var(--space-3xs) 0;
}

.desc a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
